{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main Content Section -->
<main class="container mx-auto mt-20 bg-blue-500 bg-opacity-15">
    <section class="font-bold rounded-lg p-6">
      <h2 class="text-3xl font-semibold text-white mb-4">Create New Post</h2>
      <!-- Form Start -->
      <form id="create-post-form" method="POST" enctype="multipart/form-data" class="space-y-6 w-full">
        
        {% csrf_token %}

        {{form}}

        {% for message in messages %}
        <h6 class="alert">message</h6>
        {% endfor %}
        <div class="flex justify-end space-x-4">
          <button type="submit" class="px-4 py-2 bg-blue-600 bg-blue-800 text-white rounded-lg shadow hover:bg-blue-700">
            Publish Post
          </button>
          <button type="button" id="cancel-post" class="px-4 py-2 bg-gray-200 text-gray-800 rounded-lg shadow hover:bg-gray-300">
            Cancel
          </button>
        </div> 


      </form>
    </section>
</main>

{% endblock %}
